body
    margin 0
    font-family sans-serif

.container
    width 800px
    margin 0 auto

.search
    margin-bottom 20px

.btn
    height 40px
    border none
    background #3466ff
    font-size 14px
    padding 10px 20px
    transition background .3s
    color #fff
    cursor pointer
    &:hover
        background lighten(@background, 20%)

.input
    padding 0
    margin 0
    border solid 1px #ccc
    font-size 16px
    padding 10px 20px
    &:focus
        outline none